@import "tailwindcss";

@theme {
  --color-vscode-bg: #1E1E1E;
  --color-vscode-sidebar: #252526;
  --color-vscode-activity: #333333;
  --color-vscode-panel: #111827;
  --color-vscode-border: #3C3C3C;
  --color-vscode-text-main: #D4D4D4;
  --color-vscode-text-muted: #858585;
  --color-vscode-accent-blue: #007ACC;
  --color-vscode-accent-green: #22C55E;
}

body {
  background-color: var(--color-vscode-bg);
  color: var(--color-vscode-text-main);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar to match the OS feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-vscode-border);
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-vscode-text-muted);
}